.popup_container{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.6);


}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;
    border:  none;
    background-color: white;
    gap: 1%;
    border-radius: 1%;
    box-shadow: 3px 3px 15px 2px black;

}

.form{
    display: grid;
    grid-template-columns: auto;
    gap: inherit;

}

.form > *{
    background-color: rgba(169,169,169,  0.5);
    border: none;
    margin: 2%;
    padding: 3%;
}

.form > .project_description{
    border-radius: 0% 0% 3% 3%;
}

.title_bar{
    background-color:  rgba(233, 214, 214, 0.8);
    border-bottom: 1px solid darkgray;
    display: flex;
    padding: 2%;
    align-items: center;
}

.close{
    background-color: red;
    border: 1px solid purple;
    border-radius: 30%;
    margin-left: auto;
}
.create{
    margin-bottom: 0px;
    padding: 3%;
    border: none;
    border-top: 1px solid darkgray;
    background-color:  rgba(233, 214, 214, 0.8);
}
