.popup_container{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;


}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;
    border: 1px solid darkgray;
    border-radius: 5%;
    background-color: gray;
    gap: 1%;

}

.form{
    display: grid;
    grid-template-columns: auto;
    gap: inherit;

}

.form > *, .project_name {
    background-color: darkgray;
    border: 1px solid gray;
    margin: 2%;
    padding: 3%;
    border-radius: 3%;
}

.title_bar{
    background-color: purple;
    display: flex;
    padding: 2%;
}

.close{
    background-color: red;
    border: 1px solid purple;
    border-radius: 30%;
    margin-left: auto;
}
.create{
    margin-bottom: auto;
    padding: 3%;
}
