.profile_photo_signed_in{
    border-radius: 50%;
    scale: 1.1;
    transition: all 0.3s ease;
}
.profile_photo_signed_in:hover{
    scale: 1.3;
    filter: drop-shadow(0 0 0.5em rgb(104, 101, 101));
}