.sidebar
{
    margin: 0;
    padding: 0;
    background-color: rgba(214, 189, 189, 0.8);
    height: 100vh
}
.header
{
    background-color: rgba(214, 189, 189, 0.9);
    text-align: center;
    font-size: 1.5em;
    padding: 0.2em 1.5em;
    border-bottom: 1px solid darkgray;

}
.top_section
{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 2em;
    background-color: rgba(210, 184, 184, 0.936);
    padding: 0.17em 1.5em 0;
    border-bottom: 1px solid darkgray;
}
.top_section > button
{
    background-color:  rgba(210, 184, 184, 0.936);
    border: none;

}
.top_section_button
{
    height: 1.5em;
    width: 1.5em;
}
.top_section_button:hover
{
    transform: scale(1.2);
    transition: all 0.3s ease;
    filter: invert(30%);
}
.content
{
    margin: 1em 0 0;
}
.bottom_section
{
    text-align: center;
    position: fixed;
    bottom: 0;
}
